@import "tailwindcss";

body {
  font-family: "Oswald", sans-serif;
  @apply bg-gray-50 text-gray-900;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out;
}
